server:
 port: 1300

spring:
 application:
  name: api-gateway
 cloud:
  gateway:
    server:
      webflux:
        discovery:
          locator:
            enabled: true
            lower-case-service-id: true
        routes:
          - id: currencyExchangeService
            uri: lb://currency-exchange-service/
            predicates:
              - Path=/currency-exchange/**
          
          - id: currencyConverterService
            uri: lb://currency-converter-service/
            predicates:
             - Path=/currency-converter/**
 
eureka:
 client:
  serviceUrl:
   defaultZone: http://localhost:1200/eureka
  
management:
 tracing:
  sampling:
   probability: 1.0
   
logging:
  pattern:
   level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"


  

  